/* Home */
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../assets/image/home.png") no-repeat;

  background-size: cover;
  color: var(--primary-white);
  display: flex;
  flex-direction: column;
  text-align: center;
  /* margin-top: -80px; */
  justify-content: center;
  align-items: center;
  min-height: 550px;
}

.home-content {
  width: 90%;
}

.home h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.home h1 {
  font-weight: 700;
  text-align: center;
}

.home p {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.5px;
}

.home .details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.details div {
  font-size: 15px;
  margin-top: 10px;
}

.details img {
  height: 20px;
  vertical-align: text-bottom;
  margin-right: 10px;
}

.register-btn {
  background-color: var(--primary-main-pink);
  display: inline-block;
  margin-top: 2rem;
  border: 0;
  inline-size: 10rem;
  padding: 0.75rem 0rem;
  text-transform: uppercase;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.5s;
  color: white;
  border-radius: 0.12em;
}

.register-btn:hover {
  background-color: white;
  color: var(--primary-main-pink);
}

@media (max-width: 600px) {
  .home {
    padding: 9px 15px;
  }

  .home-content {
    margin-top: 55px;
  }
}

@media (min-width: 768px) {
  .home {
    min-height: 700px;
    background-size: cover;
    /* margin-top: -100px; */
  }
  .home-content {
    padding: 1rem;
  }
  .home h1 {
    font-size: 54px;
    line-height: 80px;
  }
  .home p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .details div {
    margin: 0 50px;
  }
}

@media (min-width: 992px) {
  .home h1 {
    font-size: 84px;
    line-height: 100px;
  }
}

@media (min-width: 1200px) {
  .home {
    height: 830px;
  }
}
