/* About */
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 2.5rem auto;
}

.about img{
    display: none;
}

.about-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    justify-content: center;
    margin: auto;
    max-width: 800px;
}
  
.about-content h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: var(--primary-main-pink);
}
  
.about-content h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 45px;
    margin: 10px 20px;
}
  
.about-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: justify;
    color: var(--primary-grey);
    margin: 20px auto;
}

@media (min-width: 768px) {
    .about{
        margin: 3.5rem auto;
    }
}

@media (min-width: 992px) {
    .about{
        margin: 4rem auto;
    }
    .about-content{
        margin: auto
    }
    .about-content h3{
        font-size: 48px;
        line-height: 60px;
    }
    .about-content p{
        line-height: 30px;
    }
    .about img{
        align-self: flex-end;
        height: 250px;
        display: block;
    }
}

@media (min-width: 1200px) {
    .about{
        margin: 5rem auto;
    }
    .about-content{
        margin: auto 100px auto auto;
    }
    .about-content p{
        line-height: 45px;
    }
    .about img{
        align-self: flex-end;
        height: 350px;
        display: block;
    }
}