/* About */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 1rem;
}

.img-container {
  left: 0;
  position: absolute;
  z-index: -20;
  display: none;
}

.img-container img {
  width: 95%;
  margin-top: -12rem;
  margin-bottom: -3rem;
  max-width: 100%;
  margin-left: -4rem;
}

.about-container h2 {
  text-align: left;
  padding: 0px 20px;
}

.about-content blockquote {
  font-size: 1rem;
  color: var(--primary-grey);
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 2.5rem auto;
}

.about img {
  display: none;
}

.about-content {
  display: flex;
  flex-direction: column;
  text-align: justify;
  padding: 20px;
  justify-content: center;
  margin: auto;
  max-width: 800px;
}

.about-content h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-main-pink);
  text-align: center;
  display: none;
}

.about-content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 45px;
  margin: 10px 20px;
  text-align: center;
  display: none;
}

.about-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: justify;

  margin: 20px auto;
}

/* @media (min-width: 992px) {
  .about {
    margin: 4rem auto;
  }
  .about-content {
    margin: auto;
  }
  .about-content h3 {
    font-size: 24px;
    line-height: 24px;
  }
  .about-content p {
    line-height: 30px;
  }
} */

@media (min-width: 1024px) {
  .about-container {
    flex-direction: row;
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .img-container {
    display: block;
  }

  .about-container h2 {
    width: 50%;
    margin-left: 1.5rem;
    z-index: 20;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 0px;
  }

  .about-content blockquote {
    line-height: 2rem;
    font-size: 1.25rem;
    padding: 0px 1rem;
  }
}

@media (min-width: 1280px) {
  .about-container h2 {
    font-size: 3.5rem;
    width: 45%;
    line-height: 60px;
    max-width: 500px;
  }
  .about {
    margin: 5rem auto;
  }
  .about-content {
    width: 50%;
  }

  .about-content p {
    line-height: 45px;
  }
  .about img {
    align-self: flex-end;
    height: 350px;
    display: block;
    position: absolute;
    right: 0;
  }
}
