#hackthon-img {

    width: 450px;
    height: 700px;
    border-radius: 2px;
    object-fit: cover;

}

#hackthon {

    position: absolute;
    width: 270px;
    height: 350px;
    left: 412px;
    top: 479px;
    object-fit: cover;
    border-radius: 2px;
    border: 15px solid #FFFFFF;

}

.shecode-hackthon-text {

    margin-top: 6rem;

}

.shecode-hackthon-text > h2{

    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #000;

}

.shecode-hackthon-text > span {
    
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 25px;
    color: #000;

}

.shecode-hackthon-text > span > span {

    color: #B70569;

}

.shecode-hackthon-text > p {

    margin: 15px 0 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 48px;
    color: #707070;

}

.shecode-hackthon-text ul li {

    color: #B70569;
    font-size: 30px;

}

.shecode-hackthon-text ul li .start-date {
    color: #000;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.shecode-hackthon-text ul li .date {

    color: #000;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

/* media query styling  on break point 768 */
/* for the headerjsx component  */
/* max-width:768px means upto 768px below  */
@media screen and (max-width:768px) {

    #hackthon-img {

        width: 240px;
        height: 600px;

    }

    #hackthon {

        width: 200px;
        height: 300px;
        left: 175px;
        top: 429px;
    
    }
    .shecode-hackthon-text > h2{

        font-size: 30px;
        line-height: 50px;
    
    }
    
    .shecode-hackthon-text > span {
        
        font-size: 30px;
        line-height: 20px;
    
    }

    
    .shecode-hackthon-text > p {
    
        font-size: 18px;
        line-height: 40px;
    
    }
    
    .shecode-hackthon-text ul li {
    
        font-size: 25px;
    
    }
    
    .shecode-hackthon-text ul li .start-date {
        font-size: 15px;
        line-height: 16px;
        letter-spacing: 0.01em;
    }
    
    .shecode-hackthon-text ul li .date {
    
        font-size: 15px;
        line-height: 16px;
        letter-spacing: 0.01em;
    }
}