.hackathon-container {
  display: grid;
  grid-template-columns: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* width: 95%; */
}

#hackathon-img {
  width: 100%;
  border-radius: 2px;
  object-fit: cover;
  max-height: 800px;
}

.hackathon-img-2 {
  /* position: absolute; */
  object-fit: cover;
  border-radius: 2px;
  border: 15px solid #ffffff;
  margin-left: -50%;
  margin-top: 65%;
  max-height: 400px;
  width: 45%;
  display: none;
}

.shecode-hackathon-text {
  margin-top: 5rem;
  text-align: center;
  padding: 20px;
}

.shecode-hackathon-text > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.shecode-hackathon-text h2 > span {
  color: #b70569;
}

.shecode-hackathon-text > p {
  margin: 15px 0 10px;
  font-style: normal;
  font-size: 20px;
  line-height: 45px;
  text-align: justify;
}

.shecode-hackathon-text ul li {
  color: #b70569;
  font-size: 16px;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .hackathon-images {
    display: none;
  }
  #hackathon-img {
    display: none;
    max-height: 450px;
  }

  .shecode-hackathon-text {
    margin-top: 3rem;
    text-align: center;
    padding: 15px;
  }

  .shecode-hackathon-text > h2 {
    font-size: 28px;
    line-height: 40px;
    text-align: left;
  }

  .shecode-hackathon-text > p {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (min-width: 600px) {
  .hackathon-images {
    display: flex;
    justify-content: center;
  }
  #hackathon-img {
    width: 40%;
  }

  .hackathon-img-2 {
    display: block;
    width: 50%;
  }

  .shecode-hackathon-text {
    padding: 10px 35px;
    margin: 2rem auto;
  }

  .shecode-hackathon-text > h2 {
    font-size: 30px;
    line-height: 50px;
  }

  .shecode-hackathon-text > span {
    font-size: 30px;
    line-height: 20px;
  }

  .shecode-hackathon-text > p {
    font-size: 18px;
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  #hackathon-img {
    display: none;
  }

  .hackathon-img-2 {
    display: none;
  }
}

@media (min-width: 992px) {
  .hackathon-container {
    grid-template-columns: 1fr minmax(250px, 600px);
  }

  #hackathon-img {
    display: block;
    width: 80%;
  }

  .hackathon-img-2 {
    display: block;
  }

  .shecode-hackathon-text {
    margin: 2rem auto;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .hackathon-img-2 {
    display: block;
    width: 50%;
    margin-left: -35%;
    margin-top: 55%;
  }

  #hackathon-img {
    width: 70%;
  }

  .shecode-hackathon-text > h2 {
    font-size: 48px;
    line-height: 60px;
  }

  .shecode-hackathon-text > span {
    font-size: 48px;
    line-height: 60px;
  }
}
