.hackathon-container {
  display: grid;
  grid-template-columns: auto;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: 3rem auto;
}

#hackathon-img {
  width: 100%;
  border-radius: 2px;
  object-fit: cover;
  max-height: 800px;
}

.hackathon-img-2 {
  /* position: absolute; */
  object-fit: cover;
  border-radius: 2px;
  border: 15px solid #ffffff;
  margin-left: -50%;
  margin-top: 65%;
  max-height: 400px;
  width: 45%;
  display: none;
}

.shecode-hackathon-text {
  margin-top: 5rem;
  text-align: center;
  padding: 20px;
}

.shecode-hackathon-text > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #000;
}

.shecode-hackathon-text > span {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 25px;
  color: #000;
}

.shecode-hackathon-text > span > span {
  color: #b70569;
}

.shecode-hackathon-text > p {
  margin: 15px 0 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 48px;
  color: #707070;
}

.shecode-hackathon-text ul li {
  color: #b70569;
  font-size: 30px;
}

.shecode-hackathon-text ul li .start-date {
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.shecode-hackathon-text ul li .date {
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media screen and (max-width: 600px) {
  #hackathon {
    width: 220px;
    height: 300px;
    left: 180px;
    top: 429px;
  }

  .shecode-hackathon-text {
    margin-top: 3rem;
    text-align: center;
    padding: 15px;
  }

  .shecode-hackathon-text > h2 {
    font-size: 30px;
    line-height: 50px;
  }

  .shecode-hackathon-text > span {
    font-size: 30px;
    line-height: 20px;
  }

  .shecode-hackathon-text > p {
    font-size: 18px;
    line-height: 40px;
  }

  .shecode-hackathon-text ul li {
    font-size: 25px;
  }

  .shecode-hackathon-text ul li .start-date {
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.01em;
  }

  .shecode-hackathon-text ul li .date {
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
}

@media (min-width: 600px) {
  .hackathon-images {
    display: flex;
    justify-content: center;
  }
  #hackathon-img {
    width: 90%;
  }

  .hackathon-img-2 {
    display: block;
    width: 50%;
  }

  .shecode-hackathon-text {
    padding: 10px 35px;
    margin: 2rem auto;
  }

  .shecode-hackathon-text > h2 {
    font-size: 30px;
    line-height: 50px;
  }

  .shecode-hackathon-text > span {
    font-size: 30px;
    line-height: 20px;
  }

  .shecode-hackathon-text > p {
    font-size: 18px;
    line-height: 40px;
  }
}

@media (min-width: 768px) {
  #hackathon-img {
    display: none;
  }

  .hackathon-img-2 {
    display: none;
  }
}

@media (min-width: 992px) {
  .hackathon-container {
    grid-template-columns: 1fr minmax(250px, 600px);
  }

  #hackathon-img {
    display: block;
    width: 80%;
  }

  .hackathon-img-2 {
    display: block;
  }

  .shecode-hackathon-text {
    margin: 2rem auto;
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .hackathon-img-2 {
    display: block;
    width: 50%;
    margin-left: -35%;
    margin-top: 55%;
  }

  #hackathon-img {
    width: 70%;
  }

  .shecode-hackathon-text > h2 {
    font-size: 48px;
    line-height: 60px;
  }

  .shecode-hackathon-text > span {
    font-size: 48px;
    line-height: 60px;
  }
}
