.attendees {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  background-color: var(--primary-light-pink);
  flex: 1;
  padding: 25px 5px;
  width: 100%;
}

.attendees div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
}

.attendees h2 {
  color: var(--primary-main-pink);
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
}

.attendees p {
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
}

@media (max-width: 425px) {
  .attendees div {
    flex-basis: 100%;
  }
}

@media (max-width: 600px) {
  .attendees h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: normal;
  }

  .attendees p {
    font-size: 16px;
    line-height: normal;
  }
}

@media (min-width: 600px) {
  .attendees h2 {
    font-size: 56px;
  }

  .attendees p {
    font-size: 18px;
    line-height: normal;
  }
}
