.cd {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  box-shadow: 0px 4px 4px rgba(30, 30, 30, 0.3);
  border-radius: 2px;
  transition: 0.3s;
  margin: 10px 20px;
  width: 100%;
  max-height: 480px;
  background-color: var(--primary-white);
}

.cd img {
  grid-column: 1/ -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.cd:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.cont {
  text-align: justify;
  margin-left: 15px;
  margin: 24px;
}

.cont p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--primary-grey);
  margin: 0;
}

.cont h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: var(--primary-main-pink);
  margin: 14px auto;
}

.cont p:last-of-type {
  color: var(--secondary-main-black);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 768px) {
  .cd {
    width: 100%;
    max-width: 100%;
    margin: 5px;
  }
}
