/* Sponsors */
.sponsors {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.sponsors h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-main-pink);
}

.sponsors h3 {
  font-weight: 700;
  width: 100%;
  margin: 15px auto;
  font-size: 28px;
  line-height: 38px;
}

.sponsors div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsors p {
  margin: 30px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.sponsors div img {
  margin: auto 30px;
  max-width: 150px;
}

@media (max-width: 600px) {
  .sponsors {
    /* overflow: scroll; */
    margin: 0;
    padding: 15px;
  }

  .sponsors::-webkit-scrollbar {
    display: none;
  }

  .sponsors div {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
}

@media (min-width: 600px) {
  .sponsors h3 {
    font-size: 32px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .sponsors h3 {
    width: 50%;
    font-size: 38px;
    margin: 35px auto;
  }
  .sponsors div img {
    max-width: 180px;
  }
}

@media (min-width: 1200px) {
  .sponsors h3 {
    width: 50%;
    font-size: 48px;
    line-height: 60px;
    margin: 35px auto;
  }
}
