.modal-container {
  position: absolute;
  background-color: rgba(183, 5, 105, 0.9);
  min-height: 100vh;
  z-index: 1000;
  color: white;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 2rem 0;
  height: 100%;
  overflow: scroll;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-box {
  /* height: 95%; */
  width: 90%;
  margin: 2rem auto;
}

.modal-box span{
    cursor: pointer;
}

.bio {
  font-size: 1.125rem;
}

@media (min-width: 768px) {
  .modal-box {
    width: 75%;
  }
}
