.cd {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  box-shadow: 0px 4px 4px rgba(30, 30, 30, 0.3);
  border-radius: 2px;
  transition: 0.3s;
  margin: 10px 20px;
  width: 100%;
  background-color: var(--primary-white);
}

.cd img {
  grid-column: 1/ -1;
  grid-row: 1 / -1;
  width: 100%;
  min-height: 420px;
  max-height: 420px;
  object-fit: cover;
}

.cd:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.cont {
  text-align: justify;
  margin-left: 15px;
  margin: 18px 24px;
}

.cont p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: var(--primary-grey);
  margin: 0;
}

.cont .title {
  font-size: 12px;
}

.cont h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
  color: var(--primary-main-pink);
  margin: 14px auto;
}

.cont p:last-of-type {
  color: var(--secondary-main-black);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

@media (max-width: 768px) {
  .cd {
    width: 100%;
    max-width: 100%;
    margin: 5px;
  }
}

#modal::backdrop {
  background: rgb(183 5 105 / 85%);
}

#modal {
  width: 100%;
  min-height: 100vh;
  /* overflow: hidden; */
  margin: 0 auto;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
}

#modal[open] {
  display: flex;
}

#modal::-webkit-scrollbar {
  display: none;
}

#modal .speakers-modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: auto;
  height: 80%;
  max-height: 700px;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 12px;
}
.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-content button {
  display: inline;
  text-align: right;
  background-color: transparent;
  border: none;
  outline: none;
}

.bio {
  white-space: pre-line;
  text-align: justify;
  overflow: scroll;
}
.bio::-webkit-scrollbar {
  display: none;
}

@media (min-width: 420px) {
  .modal-content {
    width: 85%;
    max-width: 650px;
    padding: 1rem 2.5rem;
  }
}
