@import "tailwindcss";

@theme {
  --color-primary-main-pink: #B70569;
  --color-primary-dark-pink: #6D033F;
  --color-primary-light-pink: #F0CDE1;
  --color-secondary-main-black: #1A1A1A;
  --color-primary-lighter-pink: #F0CDE14D;
  --color-primary-very-light-pink: #F7E6F04D;
}